<header>
  <!--<h1>{{pageTitle}}</h1> affiche le titre de la page dans laquelle on navigue -->  
  <!--<p><a href="/">books<span>shop</span></a></p>-->
 
    <a class="menu" href="/">Accueil</a>
    <a class="menu" href="/about">A propos</a>
    <a class="menu" href="/projects">Projets</a>
 
  
									
</header>