<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <link rel ="stylesheet" href="style.css" type="text/css" /> 
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h2>A propos</h2></br>
    <div id="about">
    <h4>Auteur des projets : Bibata Amidou</h4>
<p>Profil de l’auteur : Analyste-Programmeuse, passionnée de technologie et diplômée d’un AEC en programmation orientée-objet et technologie web du collège Rosemont. 
  Elle dispose de 6 ans d’expérience professionnelle en TI dont 3 ans en Programmation. </p>

<p>Bibata a réalisé plusieurs applications dans différents langages : java, c#, VB et php. 
Ce site présente une sélection de ses réalisations développées en langage java. Les aperçus des réalisations présentent, pour chacune, 
l’objet, les principales caractéristiques et fonctions de l’application. Les applications exposées dans le menu « Projets » sont :</p>
1.	Projet final J2EE</br>
2.	Projet pour le cours d’Hypermédia J2EE</br>
3.	Projet java (Swing, JDBC)</br>
4.	Programmation Orientée-Ojbet Java</br>
5.	Programmation structrée Java</br>

</br>
<a  href="/projects">Découvrir les projets</a>

    </div>

    {{> footer}}
  </body>
</html>
