<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <link rel ="stylesheet" href="style.css" type="text/css" /> 
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h2>A propos</h2>
    <div id="about">
    <p>Auteur : Bibata Amidou</p>
    Passionnée de la technologie et diplomée AEC en programmation orientée objet au collège Rosemont. </br>
    L'auteur a réalisé plusieurs applications dans différentes langages : java, c#, VB et php.
    
    Ce site donne un aperçu de quelques réalisations effectués en langage java.
    </div>

    {{> footer}}
  </body>
</html>
