<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel ="stylesheet" href="style.css" type="text/css" /> 
    <title>Portfolio - my profil</title>
  </head>
  <body>
    {{> header}}  <!--pour inclure une page hbs -->
    <h2>Bienvenue sur mon protfolio</h2>
    <div style="padding:80px 0;">
        <div id="animation">
            <marquee>
                <img class="refImage" src="aeroport.PNG" />
                <img class="refImage" src="librairie.PNG" />
                <img class="refImage" src="listBook.PNG" />
                <img class="refImage" src="appSwing.PNG" title=""Application Swing>/>
            </marquee>                          
        </div>
    </div>  
    <!--<p>{{screamIt welcomeMessage}}</p> exemple appel de function hbs-->  
    {{> footer}}
  </body>
</html>