<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BooksShop - my library</title>
  </head>
  <body>
    {{> header}}<!--pour inclure une page hbs -->

    <!--<p>{{screamIt welcomeMessage}}</p>-->
    <p> Ma page Portfolio</p>

    {{> footer}}
  </body>
</html>