<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

<ul>
    <li>Projet final J2EE</li>
    <li>Projet pour le cours de d’Hypermédia J2EE </li>
    <li>Projet java (Swing, JDBC) </li>
    <li>Orienté-Ojbet Java</li>
    <li>Programme structrée Java</li>
</ul>
    <p>Some text here</p>

    {{> footer}}
  </body>
</html>